table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 4em;
  }
  

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #f1efef;
  }

  tr :hover {
    background-color: rgb(221, 219, 219);
  }

  .display-table {
    margin-left: 23%;
    margin-right: 23%;
  }

  h1{
    font-size: 36px;
    text-align: center;
  }