
.header{
  border: 1px solid;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 40cm;
  padding-left: 20px;
  margin-bottom: 20px;
  background-color: rgb(115, 111, 111);
}

.footer {
  border: 1px solid;
  padding-top: 10px;
  margin-top: 20px;
  background-color: rgb(115, 111, 111);
}

.footer2 {
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.link {
  color: white;
  font-size: larger;
  padding-right: 20px;
}

    
  /* .main {
    background-image: url(
        "https://www.saveetha.ac.in/images/sec/2024/sdd.jpg"
    );
    background-size: 1800px;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    z-index: 1;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
  } */